<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Codeial / <%= title %> </h1>
    </body>
</html>
<!-- creating views first using ejs and a route to access some actions which renders that page so this is the process to link your html webpage to project  -->